
<% layout("/layouts/boilerplate") %>







<div class="row mt-3">
    <div class="col-8 offset-2"> 
      <h3 >Edit your Blog</h3>
      <form method="POST" action="/blogs/<%= blog._id %>?_method=PUT" novalidate class="needs-validation" >
          <div class="mb-3 mt-3">
              <label for="username" class="form-label">Username</label>
            <input name="username" placeholder="enter username" type="text" value="<%= blog.username %>" class="form-control"  disabled/>
            </div>
  
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
        <input name="title" placeholder="enter title"  value="<%= blog.title %>" type="text" class="form-control" required />
        
        </div>
  
        <div class="mb-3">
            <label for="description">Description</label>
            <textarea name="description" 
                type="text" 
                rows="5" cols="30"
            ><%= blog.description %>
            </textarea>
         
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-label" class="form-label" >Image Links</label>
           <input name="image" value="<%= blog.image %>" type="text" class="form-control"/>
       
        </div>
        </div>
        <div class="d-flex justify-content-start fn2 ">
          <button class="btn btn-primary w-20 mt-3 mb-5 ">Edit</button>
        </div>
      </form>
     
    </div>
  </div>

  
  


