
<% layout("/layouts/boilerplate") %>

<h3>Blog Details </h3>

<img src="<%= blog.image %>" alt="blog_image">
<p >
    <b><%= blog.title %></b> <br>
    <%= blog.description %> <br>
    <%= blog.created_at.toString().split(" ")[4] %> <br>
    <%= blog.created_at.toString().split(" ").slice(0, 4).join("-") %> <br>
    <%= blog.username %>
</p>

<br><br>
    <a href="/blogs/<%= blog._id %>/edit">Edit</a> <br><br><br><br>

    <form method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
        <button>Delete</button>
    </form>
