
<% layout("/layouts/boilerplate") %>




    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h3 class="d-flex justify-content-center mt-3">Blog Details </h3>
         
          <div class=" card-img-top show-img ">
            <img src="<%= blog.image %>" class="card-img-top show-img  f3 rounded-4 mt-3" alt="blog_img"   />
         
             <div class="card-body" class="card-text">
               <p class="card-text mt-3"><b><%= blog.title %></b> <br></p>
              <p style="font-weight: 400;"> <%= blog.description %></p>
              <p> <%= blog.created_at.toString().split(" ")[4] %> <br></p>
              <p> <%= blog.created_at.toString().split(" ").slice(0, 4).join("-") %><br></p>
              <% if(blog.updated_at) { %>
              <p><strong> Updated_at:</strong> <span id="updatedAt"><%= new Date(blog.updated_at).toLocaleString() %></span></p>
              <% } %>
              <div class="chat-box1">
                <img src="<%= blog.image %>" alt="Profile">
                <div class="chat-content">
                <div class="chat1-name"><%= blog.username %></div>
              </div>
              
              
             
          </div>
          </div>
      
       <div class="btns mb-5 mt-5 fn4">
          <a href="/blogs/<%= blog._id %>/edit" class="btn btn-primary">Edit </a>
            <form method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
            <button class="btn btn-dark offset-5">Delete </button>
            </form>
        </div>
        </div>
      </div>
      </div>
      
      
